* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}

.react-chatbot-kit-chat-container{
  width: 400px;
}

.react-chatbot-kit-chat-bot-message{
  margin-left: 0;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #ffffff;
  width: 100px;
  border: 2px;
  border-color: aqua;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #001eff;
  width: 15px;
  margin: 0 auto;
}
